.heroContainer{
    padding-bottom: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.heroInfo{
  max-width: 530px;
  padding-top: 70px;
  
}
.heroInfo h2{
  color: #DC7000;
  font-size: 1.25rem;
  font-weight: 600;
}
.heroInfo h1{
  font-size: 1.875rem;
  font-weight: 600;
}
.heroInfo p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 170%;
  padding: 30px 0;

}


button.btn{
  background: #FA9021;
  padding: 9px 17px;
  border-radius: 15px;
  transition: all 0.5s ease;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
button.btn:hover{
  background: #dc7000a9;
}


@media (max-width: 600px) {
  .vertical-line {
    display: none;
  }
}