.container {
  max-width: 1400px;
  margin: 0 auto;
}
.back {
  background: rgba(0, 0, 0, 1);
}
header {
  padding: 50px 0px;
  position: relative;
}
.logo {
  font-size: 29px;
  text-transform: uppercase;
  font-weight: 800;
}
header nav {
  float: right;
  width: 50%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}
header nav ul li:not(.active):not(.btn) a:hover {
  border-bottom: 5px solid #dc7000;
}
header nav ul li.btn a {
  background: #fa9021;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
header nav ul li.btn a:hover {
  background: #dc7000a9;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #dc7000;
  transition: width 0.3s ease;
  border-radius: 3px;
}
header nav ul li a.active::after {
  width: 100%;
}
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 26px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
    gap: 1px;
    flex-direction: column;
    float: right;
    padding: 10px;
    z-index: 1001; 
  }

  header nav {
    display: none;
    position: absolute;  
    top: 100%;           
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.95); 
    z-index: 1000;       
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  header nav.open {
    display: flex;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
