footer{
    background-color: #070707;
    padding: 50px 0;
}

.foot{
    display: flex;
    justify-content: space-between;
    max-width: 1146px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.foot p{
    width: 300px;
    margin: 15px 0;

}
.foot h4{
    font-weight: 500;
    font-size: 17px;

}
.foot ul{
    list-style: none;

}
.foot ul li{
    margin-top: 7px;
    opacity: 0.8;

}
hr{
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;   
}
footer > p{
    text-align: center;
}
.social{
    display: flex;
    margin-top: 100px;
    align-items: center;
    position: absolute;
    left: calc(50% + 1146px / 2 + 20px);
    top: 0;
    transform: translateX(0);
}
.footer-container{
    position: relative;
    max-width: 100%;
    
}