.custom-slider {
  width: 100%;
  max-width: 750px;
  aspect-ratio: 750 / 639;
  position: relative;
}

.slider-image-container {
  width: 100%;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: #333333;

  padding: 20px 40px 20px 40px;
}

.slider-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slider-controls button:focus {
  outline: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagination-text {
  min-width: 60px;
  text-align: center;
}
.slider-controls button img {
  width: 15px;
  height: auto;
}
img {
  max-width: 100%;
}
