.subscribe{
    padding-bottom: 120px;
    max-width: 1146px;
    margin: 0 auto;
}
.subscribe h3{
    margin-top: 60px;
    font-size: 30px;
    
}
.containerSubscribe{
background: #1C140F;
margin-top: 30px;
border-radius: 10px;
padding: 40px 3%;
width: 94%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.containerSubscribe h4{
    font-size: 30px;
    font-weight: 500;
}
.containerSubscribe p{
    max-width: 500px;
}
.containerSubscribe input{
    background: #FFF;
    outline: none;
    border: 0;
    border-radius: 5px;
    max-width: 380px;
    font-family: poppins;
    padding: 20px 30px;
    padding-right: 120px;
    position: relative;
    
    z-index: 1;
    box-sizing: border-box;
}
.containerSubscribe input::placeholder{
    color: #898989;
}
.containerSubscribe .btn{
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 17px;
    z-index: 2;
    position: relative;
    color: #FFF;
    
}
