.Info{
  max-width: 500px;
  padding-top: 70px;
  display: block;
 
}
.Info h1{
  padding: 50px 0px;
  font-size: 30px;
  font-weight: 600;
}
.Info p{
  font-size: 16px;
  font-weight: 500;
  line-height: 170%;
  padding: 0  0 30px 0 ;

}
.Image{
  position: absolute;
right: 100px ;
top: 100px ;
max-width: 100%;
}
button.btn{
  background: #FA9021;
  padding: 10px 17px;
  border-radius: 17px;
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 0px;

}
button.btn:hover{
  background: #dc7000a9;
}
.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 70px;
  font-size: 16px;
}

.nav-link {
  color: #999;
}

.nav-link.active {
  color: #dc7000a9;
}

.nav-sep {
  color: #999;
}

