.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 70px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.navLink {
  color: #999;
}

.navLink.active {
  color: #dc7000a9;
}

.navSep {
  color: #999;
}

.HeroPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.HeroPortfolio h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

.darkBoxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #1c140f;
  width: 100%;
  max-width: 900px;
  margin-top: 50px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .heroContainer img {
    max-width: 350px;
    transform: translate(20%, -50%)
  }
}

.verticalLine {
  width: 2px;
  height: 100px;
  background-color: rgba(255, 255, 255);
  margin: 0 20px;
}

.darkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.darkBox img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.darkBoxContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}