.wrapper-mail {
  padding: 100px 0;
  background-color: #1c140f;
}
.wrapper-mail h2 {
  margin-bottom: 30px;
  font-size: 1.875rem;
  font-weight: 300;
}
.general-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

label {
  font-size: 14px;
  color: #4f4f4f;
}
.wrapper-mail input {
  background-color: #4f4f4f;
  border-radius: 10px;
  border: 1px solid #cecece;
}
.one {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
  max-width: 750px;
  width: 100%;
}
.one input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.two {
  margin-top: 50px;
  max-width: 750px;
  width: 100%;
}
.two input {
  width: 100%;
  padding: 20px;
}
.three {
  margin-top: 50px;
  max-width: 750px;
  width: 100%;
}
.three input {
  width: 100%;
  padding: 100px;
}
.btn-mail {
  background: #fa9021;
  padding: 12px 20px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: poppins;
  transition: 0.3s;
  margin-left: auto;
  margin-top: 50px;
}

.btn-mail:hover {
  background: #dc7000a9;
}
.Touch {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
}
