.bigText{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  .banner {
    padding: 80px 0;
  }
  .banner h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
  }