.nav {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 70px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .nav-link {
    color: #999;
  }
  
  .nav-link.active {
    color: #dc7000a9;
  }
  
  .nav-sep {
    color: #999;
  }
  .HeroNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .HeroNews input{
    background: #1C140F;;
    outline: none;
    border: 0;
    width: 100%;
    
    font-family: poppins;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    z-index: 1;
    
  }
  
  .search {
    position: relative;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
    align-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    z-index: 2;
  }
  
  .HeroNews input {
    width: 100%;
    padding-left: 40px;
  }