* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

img {
  max-width: 100%;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.wrapper {

  background: 000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
      rgba(26, 14, 1, 1) 100%);
  max-width: 100%;
  padding:  0 7px ;
}

.GeneralContainerHome {
  max-width: 1146px;
  margin: 0 auto;

  background-image: url("../../images/Joystick.svg");
  background-repeat: no-repeat;
  background-position: right -120px top -150px;
  background-size: auto;

}