.containerTranding{
    padding-top: 70px;
  }
  .headLine{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .containerTranding h3{
    font-weight: 700;
    font-size: 31px;
  }
  .seeAll{
    color: #fff;
  background: #25211D;
  border-radius: 5px;
  padding: 12px 23px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.5s ease;
  border: none; 
  cursor: pointer;
  font-family: inherit;
  font-size: inherit; 
    
  }
  .seeAll:hover{
    transform: scale(1.1);
  }
  .block{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    flex-wrap: wrap;
  }
  .games{
    animation: slideInDown 0.5s ease-out forwards;
  opacity: 0;
    text-align: center;
    margin-top: 20px;
  }
  @keyframes slideInDown {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fire img{
    position: relative;
    top: 5px;
    margin-right: 7px;

  }