.infoBlock {
  background: #1c140f;
}
.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 60px 0 0;
  max-width: 1146px;
  margin: 0 auto;
 flex-wrap: wrap
}

.InfoImg {
  display: flex;
  min-width: 100px;
  padding: 30px 0;
}

.InfoImg img {
 
  height: auto;
  max-width: 100%;
}
.infoText h2 {
  margin: 15px 0 ;
  font-size: 30px;
  font-weight: 600;
  

}
.infoText{
padding: 30px;
max-width: 500px;
}